Repository aws-samples/aws-cdk-examples, pull requests merged in 2019-11, with the labels that each got.

#170 fix: update the Python URL shortener example with the new cdk.context.json used by the VPC provider
  python/ecs/cluster/app.py
  python/url-shortener/cdk.context.json
Labels: contribution/core

#162 chore: refresh Java examples with latest syntax elements
  java/hello-world/pom.xml
  java/hello-world/src/main/java/software/amazon/awscdk/examples/HelloJavaStack.java
  java/lambda-cron/pom.xml
  java/lambda-cron/src/main/java/software/amazon/awscdk/examples/LambdaCronStack.java
Labels: language/java

#155 fix: Allow ingress traffic from public internet for NLB Ec2/Fargate Service
  README.md
  typescript/ecs/ecs-network-load-balanced-service/cdk.json
  typescript/ecs/ecs-network-load-balanced-service/index.ts
  typescript/ecs/ecs-network-load-balanced-service/package.json
  typescript/ecs/ecs-network-load-balanced-service/tsconfig.json
  typescript/ecs/fargate-application-load-balanced-service/cdk.json
  typescript/ecs/fargate-application-load-balanced-service/index.ts
  typescript/ecs/fargate-application-load-balanced-service/package.json
  typescript/ecs/fargate-application-load-balanced-service/tsconfig.json
Labels: package/ecs
