Repository aws-samples/aws-cdk-examples, pull requests merged in 2021-09, with the labels that each got.

#508 docs(GitHub issue templates): Upgrade to GitHub Issues v2
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/ISSUE_TEMPLATE/guidance.md
  .github/ISSUE_TEMPLATE/guidance.yml
Labels: contribution/core

#509 fix(GitHub issue templates): remove requirement from "Acknowledge" section
  .github/ISSUE_TEMPLATE/feature-request.yml
Labels: contribution/core

#461 fix(typescript): typescript/ecs/fargate-service-with-efs/lambda.js 2 UnexpectedParameter validation errors
  typescript/ecs/fargate-service-with-efs/lambda.js
Labels: language/typescript

#512 feat: add Python assertions examples to lambda-cron
  python/lambda-cron/README.md
  python/lambda-cron/requirements.txt
  python/lambda-cron/test_lambda-cron.py
Labels: language/python

#501 feat: Add typescript assertions examples to lambda-cron
  typescript/lambda-cron/README.md
  typescript/lambda-cron/jest.config.js
  typescript/lambda-cron/lambda-cron.test.ts
  typescript/lambda-cron/package.json
Labels: language/typescript

#409 feat(python): eventbridge api example
  python/api-eventbridge-lambda/README.md
  python/api-eventbridge-lambda/Validate_sample.pdf
  python/api-eventbridge-lambda/api_eventbridge_lambda/api_eventbridge_lambda.py
  python/api-eventbridge-lambda/app.py
  python/api-eventbridge-lambda/architecture.png
  python/api-eventbridge-lambda/cdk.json
  python/api-eventbridge-lambda/input.json
  python/api-eventbridge-lambda/lambda/event_consumer_lambda.py
  python/api-eventbridge-lambda/lambda/event_producer_lambda.py
  python/api-eventbridge-lambda/requirements.txt
  python/api-eventbridge-lambda/setup.py
Labels: language/python

#384 feat(Typescript): Microsoft Active Directory + FSx for Windows File Server example
  typescript/fsx-ad/README.md
  typescript/fsx-ad/cdk.json
  typescript/fsx-ad/index.ts
  typescript/fsx-ad/package.json
  typescript/fsx-ad/tsconfig.json
Labels: language/typescript

#325 feat: Add example for deploy apigatewayv2 websocket lambda application
  typescript/README.md
  typescript/api-websocket-lambda-dynamodb/.gitignore
  typescript/api-websocket-lambda-dynamodb/.npmignore
  typescript/api-websocket-lambda-dynamodb/README.md
  typescript/api-websocket-lambda-dynamodb/cdk.json
  typescript/api-websocket-lambda-dynamodb/config.json
  typescript/api-websocket-lambda-dynamodb/index.ts
  typescript/api-websocket-lambda-dynamodb/onconnect/app.js
  typescript/api-websocket-lambda-dynamodb/onconnect/package.json
  typescript/api-websocket-lambda-dynamodb/ondisconnect/app.js
  typescript/api-websocket-lambda-dynamodb/ondisconnect/package.json
  typescript/api-websocket-lambda-dynamodb/package.json
  typescript/api-websocket-lambda-dynamodb/sendmessage/app.js
  typescript/api-websocket-lambda-dynamodb/sendmessage/package.json
  typescript/api-websocket-lambda-dynamodb/tsconfig.json
Labels: language/typescript

#487 feat(lambda-layer): Added python lambda layer cdk example
  python/README.md
  python/lambda-layer/README.md
  python/lambda-layer/app.py
  python/lambda-layer/cdk.json
  python/lambda-layer/lambda/__init__.py
  python/lambda-layer/lambda/index.py
  python/lambda-layer/layer/python/common.py
  python/lambda-layer/requirements.txt
Labels: language/python

#488 feat(lambda-layer): Added typescript lambda layer cdk example
  typescript/README.md
  typescript/lambda-layer/README.md
  typescript/lambda-layer/bin/lambda-layer.ts
  typescript/lambda-layer/cdk.json
  typescript/lambda-layer/lib/lambda-layer-stack.ts
  typescript/lambda-layer/package.json
  typescript/lambda-layer/resources/lambda/index.js
  typescript/lambda-layer/resources/layers/helper/nodejs/node_modules/helper/index.ts
  typescript/lambda-layer/resources/layers/helper/nodejs/node_modules/helper/package.json
  typescript/lambda-layer/tsconfig.json
Labels: language/typescript

#435 feat: Add new Typescript sample, lambda-cloudwatch-dashboard.
  typescript/lambda-cloudwatch-dashboard/.gitignore
  typescript/lambda-cloudwatch-dashboard/.npmignore
  typescript/lambda-cloudwatch-dashboard/README.md
  typescript/lambda-cloudwatch-dashboard/bin/lambda-cloudwatch-dashboard.ts
  typescript/lambda-cloudwatch-dashboard/cdk.json
  typescript/lambda-cloudwatch-dashboard/img/sample_cloudwatch_dashboard.png
  typescript/lambda-cloudwatch-dashboard/lambda/lambda-handler.py
  typescript/lambda-cloudwatch-dashboard/lib/lambda-cloudwatch-dashboard-stack.ts
  typescript/lambda-cloudwatch-dashboard/package.json
  typescript/lambda-cloudwatch-dashboard/tsconfig.json
Labels: language/typescript

#426 feat: Add new Python sample: lambda-cloudwatch-dashboard.
  python/lambda-cloudwatch-dashboard/.gitignore
  python/lambda-cloudwatch-dashboard/README.md
  python/lambda-cloudwatch-dashboard/app.py
  python/lambda-cloudwatch-dashboard/cdk.json
  python/lambda-cloudwatch-dashboard/img/sample_cloudwatch_dashboard.png
  python/lambda-cloudwatch-dashboard/lambda/lambda-handler.py
  python/lambda-cloudwatch-dashboard/lambda_cloudwatch_dashboard/__init__.py
  python/lambda-cloudwatch-dashboard/lambda_cloudwatch_dashboard/lambda_cloudwatch_dashboard_stack.py
  python/lambda-cloudwatch-dashboard/requirements.txt
  python/lambda-cloudwatch-dashboard/setup.py
  python/lambda-cloudwatch-dashboard/source.bat
Labels: language/python
