Repository aws-samples/aws-cdk-examples, pull requests merged in 2021-07, with the labels that each got.

#336 feat(Typescript): StepFunctions CRON example
  .editorconfig
  typescript/stepfunctions-job-poller/README.md
  typescript/stepfunctions-job-poller/index.ts
  typescript/stepfunctions-job-poller/lambdas/check_status.py
  typescript/stepfunctions-job-poller/lambdas/submit.py
  typescript/stepfunctions-job-poller/package.json
  typescript/stepfunctions-job-poller/step-function-graph.png
  typescript/stepfunctions-job-poller/tsconfig.json
Labels: language/typescript

#468 fix(api-cors-lambda-crud-dynamodb example): Implement use of NodejsFunction, replaced deprecated API
  typescript/api-cors-lambda-crud-dynamodb/README.md
  typescript/api-cors-lambda-crud-dynamodb/cdk.json
  typescript/api-cors-lambda-crud-dynamodb/index.ts
  typescript/api-cors-lambda-crud-dynamodb/lambdas/create.ts
  typescript/api-cors-lambda-crud-dynamodb/lambdas/delete-one.ts
  typescript/api-cors-lambda-crud-dynamodb/lambdas/get-all.ts
  typescript/api-cors-lambda-crud-dynamodb/lambdas/get-one.ts
  typescript/api-cors-lambda-crud-dynamodb/lambdas/package.json
  typescript/api-cors-lambda-crud-dynamodb/lambdas/tsconfig.json
  typescript/api-cors-lambda-crud-dynamodb/lambdas/update-one.ts
  typescript/api-cors-lambda-crud-dynamodb/package.json
  typescript/api-cors-lambda-crud-dynamodb/tsconfig.json
Labels: language/typescript

#471 feat(typescript): add example for creating a Neptune cluster
  typescript/neptune-with-vpc/README.md
  typescript/neptune-with-vpc/app.ts
  typescript/neptune-with-vpc/cdk.json
  typescript/neptune-with-vpc/neptune-with-vpc-stack.ts
  typescript/neptune-with-vpc/package.json
  typescript/neptune-with-vpc/tsconfig.json
Labels: language/typescript

#473 feat(python,typescript): add examples for creating a WAF
  python/waf/.gitignore
  python/waf/README.md
  python/waf/app.py
  python/waf/cdk.json
  python/waf/requirements.txt
  python/waf/waf_cloudfront.py
  python/waf/waf_regional.py
  typescript/waf/README.md
  typescript/waf/app.ts
  typescript/waf/cdk.json
  typescript/waf/package.json
  typescript/waf/tsconfig.json
  typescript/waf/waf-cloudfront.ts
  typescript/waf/waf-regional.ts
Labels: language/python, language/typescript

#474 feat: Add (sample) generated diagrams
  python/api-cors-lambda/README.md
  python/api-cors-lambda/diagram.png
  python/api-sqs-lambda/README.md
  python/api-sqs-lambda/diagram.png
Labels: language/python

#479 fix(static-site): add missing `metricDaysToExpiry` prop to `ViewerCeritificate.fromAcmCertificate()` method
  typescript/static-site/static-site.ts
  typescript/static-site/tsconfig.json
Labels: language/typescript
