Repository aws-samples/aws-cdk-examples, pull requests merged in 2023-10, with the labels that each got.

#568 feat(Typescript): Adding CDK example chaining S3, SNS, SQS and Lambda
  typescript/s3-sns-lambda-chain/README.md
  typescript/s3-sns-lambda-chain/bin/s3-sns-sqs-lambda-chain.ts
  typescript/s3-sns-lambda-chain/cdk.json
  typescript/s3-sns-lambda-chain/example.csv
  typescript/s3-sns-lambda-chain/lambda/lambda.ts
  typescript/s3-sns-lambda-chain/lib/s3-sns-sqs-lambda-chain-stack.ts
  typescript/s3-sns-lambda-chain/package.json
  typescript/s3-sns-lambda-chain/tests/s3-sns-sqs-lambda-chain-stack.test.ts
  typescript/s3-sns-lambda-chain/tsconfig.json
Labels: language/typescript

#658 feat: example on configuring AWS Backup for S3 buckets with tags
  python/backup-s3/.gitignore
  python/backup-s3/README.md
  python/backup-s3/app.py
  python/backup-s3/backup_s3/__init__.py
  python/backup-s3/backup_s3/backup_s3_stack.py
  python/backup-s3/cdk.json
  python/backup-s3/requirements-dev.txt
  python/backup-s3/requirements.txt
  python/backup-s3/source.bat
  typescript/backup-s3/.gitignore
  typescript/backup-s3/README.md
  typescript/backup-s3/bin/aws_backup_s3.ts
  typescript/backup-s3/cdk.json
  typescript/backup-s3/lib/aws-backup-s3-stack.ts
  typescript/backup-s3/package.json
  typescript/backup-s3/tsconfig.json
Labels: effort/medium, p1

#774 Update app.py
  python/ec2-cloudwatch/app.py
Labels: language/python

#773 CDK example for Route 53 Resolver DNS Firewall
  typescript/route53-resolver-dns-firewall/README.md
  typescript/route53-resolver-dns-firewall/bin/route53-resolver-dns-firewall.ts
  typescript/route53-resolver-dns-firewall/cdk.json
  typescript/route53-resolver-dns-firewall/lib/route53-resolver-dns-firewall-stack.ts
  typescript/route53-resolver-dns-firewall/package.json
  typescript/route53-resolver-dns-firewall/tsconfig.json
Labels: language/typescript

#759 fix: Updated java/custom-resource to use non-deprecated software.amazon.awscdk.CustomResource construct
  java/custom-resource/lambda/custom-resource-handler.py
  java/custom-resource/src/main/java/software/amazon/awscdk/examples/CustomResourceApp.java
  java/custom-resource/src/main/java/software/amazon/awscdk/examples/CustomResourceStack.java
  java/custom-resource/src/main/java/software/amazon/awscdk/examples/MyCustomResource.java
  java/ecs/fargate-load-balanced-service/src/main/java/com/amazonaws/cdk/examples/ECSFargateLoadBalancedApp.java
  java/ecs/fargate-load-balanced-service/src/test/resources/com/amazonaws/cdk/examples/expected.cfn.json
Labels: language/java

#913 feat: add path and dirname to s3 deploy asset
  typescript/static-site/static-site.ts
Labels: language/typescript

#924 Added elasticfilesystem:ClientMount to the fargate-service-with-ecs example
  typescript/ecs/fargate-service-with-efs/README.md
  typescript/ecs/fargate-service-with-efs/cdk.json
  typescript/ecs/fargate-service-with-efs/index.ts
Labels: language/typescript

#927 Correcting flipped ternary statements
  typescript/api-cors-lambda-crud-dynamodb/lambdas/create.ts
  typescript/api-cors-lambda-crud-dynamodb/lambdas/update-one.ts
Labels: language/typescript

#908 feat: upgrade deprecated node version
  typescript/lambda-manage-s3-event-notification/lambda/manage-s3-event-notifications.js
  typescript/lambda-manage-s3-event-notification/lib/shared-resources-stack.ts
  typescript/lambda-manage-s3-event-notification/package.json
Labels: language/typescript, pr/blocked

#923 feat: api gateway lambda auth
  typescript/api-gateway-lambda-token-authorizer/.gitignore
  typescript/api-gateway-lambda-token-authorizer/.npmignore
  typescript/api-gateway-lambda-token-authorizer/README.md
  typescript/api-gateway-lambda-token-authorizer/bin/main.ts
  typescript/api-gateway-lambda-token-authorizer/cdk.json
  typescript/api-gateway-lambda-token-authorizer/jest.config.js
  typescript/api-gateway-lambda-token-authorizer/lib/lambdas/authorizer/index.ts
  typescript/api-gateway-lambda-token-authorizer/lib/lambdas/operational/index.ts
  typescript/api-gateway-lambda-token-authorizer/lib/stack/gateway-lambda-auth-stack.ts
  typescript/api-gateway-lambda-token-authorizer/package.json
  typescript/api-gateway-lambda-token-authorizer/test/stack/__snapshots__/gateway-lambda-auth-stack.test.ts.snap
  typescript/api-gateway-lambda-token-authorizer/test/stack/gateway-lambda-auth-stack.test.ts
  typescript/api-gateway-lambda-token-authorizer/tsconfig.json
Labels: language/typescript, pr/blocked
