Repository aws-samples/aws-cdk-examples, pull requests merged in 2023-12, with the labels that each got.

#955 added CDK datasync example
  python/datasync-s3/.gitignore
  python/datasync-s3/README.md
  python/datasync-s3/app.py
  python/datasync-s3/cdk.context.json
  python/datasync-s3/cdk.json
  python/datasync-s3/datasync_s3_to_s3/__init__.py
  python/datasync-s3/datasync_s3_to_s3/datasync_s3_to_s3_IAM_stack.py
  python/datasync-s3/datasync_s3_to_s3/datasync_s3_to_s3_stack.py
  python/datasync-s3/requirements.txt
  python/datasync-s3/source.bat
  python/datasync-s3/tests/__init__.py
  python/datasync-s3/tests/unit/__init__.py
  python/datasync-s3/tests/unit/test_datasync_s3_stack.py
Labels: language/python

#964 feat(python)-adds schedule scaling policy for ecs
  python/ecs-schedulescaling/README.md
  python/ecs-schedulescaling/app.py
  python/ecs-schedulescaling/cdk.json
  python/ecs-schedulescaling/requirements.txt
  python/ecs-schedulescaling/schedulescaling/__init__.py
  python/ecs-schedulescaling/schedulescaling/schedulescaling_stack.py
Labels: language/python

#970 adding iotcore cdk implementation
  python/iotcore/README.md
  python/iotcore/app.py
  python/iotcore/cdk.json
  python/iotcore/cdk_iot_thing/__init__.py
  python/iotcore/cdk_iot_thing/cdk_iot_thing_stack.py
  python/iotcore/images/IotCore-CDK.png
  python/iotcore/lambda/cert_handler.py
  python/iotcore/requirements-dev.txt
  python/iotcore/requirements.txt
  python/iotcore/source.bat
  python/iotcore/tests/__init__.py
  python/iotcore/tests/unit/__init__.py
  python/iotcore/tests/unit/test_cdk_iot_thing_stack.py
Labels: language/python

#978 Provision OpenSearch Cluster in private subnet for private setup and access via NGINX Proxy
  python/opensearch/os-vpc-provision/os_vpc_provision/os_vpc_provision_stack.py
Labels: language/python

#958 fix(ts/appsync-graphql): replace 'addDependsOn' with 'addDependency' …
  typescript/appsync-graphql-dynamodb/index.ts
  typescript/appsync-graphql-eventbridge/index.ts
Labels: language/typescript

#967 Adding example for Java S3 backup
  java/backup-s3/.gitignore
  java/backup-s3/README.md
  java/backup-s3/cdk.json
  java/backup-s3/pom.xml
  java/backup-s3/src/main/java/com/myorg/BackupS3App.java
  java/backup-s3/src/main/java/com/myorg/BackupS3Stack.java
Labels: language/java

#977 Adding example for Java SSM managed EC2
  java/ec2-instance/.gitignore
  java/ec2-instance/README.md
  java/ec2-instance/cdk.json
  java/ec2-instance/pom.xml
  java/ec2-instance/src/main/java/com/myorg/Ec2InstanceApp.java
  java/ec2-instance/src/main/java/com/myorg/Ec2InstanceStack.java
Labels: language/java

#959 Add AppSync GraphQL API Example with HTTP CRUD Resolvers
  typescript/appsync-graphql-http/README.md
  typescript/appsync-graphql-http/cdk.json
  typescript/appsync-graphql-http/definition.graphql
  typescript/appsync-graphql-http/index.ts
  typescript/appsync-graphql-http/media.png
  typescript/appsync-graphql-http/package.json
  typescript/appsync-graphql-http/resolvers/delete.ts
  typescript/appsync-graphql-http/resolvers/getAll.ts
  typescript/appsync-graphql-http/resolvers/getOne.ts
  typescript/appsync-graphql-http/resolvers/save.ts
  typescript/appsync-graphql-http/tsconfig.json
Labels: language/typescript

#965 feat(go): Adding S3 Event Processor Sample
  go/s3-event-processor/.gitignore
  go/s3-event-processor/README.md
  go/s3-event-processor/cdk.json
  go/s3-event-processor/go.mod
  go/s3-event-processor/go.sum
  go/s3-event-processor/lambda/create-object-handler/main.go
  go/s3-event-processor/s3-event-processor.go
  go/s3-event-processor/s3-event-processor_test.go
Labels: language/go

#963 feat(ts): Aspects example
  typescript/aspects/.eslintignore
  typescript/aspects/.eslintrc.js
  typescript/aspects/.gitignore
  typescript/aspects/.npmignore
  typescript/aspects/README.md
  typescript/aspects/bin/sample-app.ts
  typescript/aspects/cdk.json
  typescript/aspects/lib/lambda-aspect.ts
  typescript/aspects/lib/sample-construct.ts
  typescript/aspects/lib/sample-stack.ts
  typescript/aspects/package.json
  typescript/aspects/tsconfig.json
Labels: language/typescript

#974 Adding Lambda Provisioned Concurrency Example with AutoScaling
  typescript/lambda-provisioned-concurrency-autoscaling/.gitignore
  typescript/lambda-provisioned-concurrency-autoscaling/.npmignore
  typescript/lambda-provisioned-concurrency-autoscaling/README.md
  typescript/lambda-provisioned-concurrency-autoscaling/bin/lambda-pc-autoscaling.ts
  typescript/lambda-provisioned-concurrency-autoscaling/cdk.json
  typescript/lambda-provisioned-concurrency-autoscaling/jest.config.js
  typescript/lambda-provisioned-concurrency-autoscaling/lambda/lambda-handler.ts
  typescript/lambda-provisioned-concurrency-autoscaling/lib/lambda-pc-autoscaling-schedule.ts
  typescript/lambda-provisioned-concurrency-autoscaling/lib/lambda-pc-autoscaling-target.ts
  typescript/lambda-provisioned-concurrency-autoscaling/package.json
  typescript/lambda-provisioned-concurrency-autoscaling/test/stack.test.ts
  typescript/lambda-provisioned-concurrency-autoscaling/tsconfig.json
Labels: language/typescript, response-requested

#960 Opensearch Cluster in VPC and authenticated access to dashboard outside VPC using Nginx Proxy server
  typescript/opensearch/os_vpc_provision/.gitignore
  typescript/opensearch/os_vpc_provision/.npmignore
  typescript/opensearch/os_vpc_provision/README.md
  typescript/opensearch/os_vpc_provision/bin/os_vpc_provision.ts
  typescript/opensearch/os_vpc_provision/cdk.json
  typescript/opensearch/os_vpc_provision/lib/common-resources.ts
  typescript/opensearch/os_vpc_provision/lib/config_nginx.sh
  typescript/opensearch/os_vpc_provision/lib/default.conf
  typescript/opensearch/os_vpc_provision/lib/install.sh
  typescript/opensearch/os_vpc_provision/lib/os-cluster.ts
  typescript/opensearch/os_vpc_provision/lib/os_vpc_provision-stack.ts
  typescript/opensearch/os_vpc_provision/package.json
  typescript/opensearch/os_vpc_provision/tsconfig.json
Labels: language/typescript
